<%- include('./partials/header.ejs') %><!-- Inclui a sidebar apenas uma vez -->
<%- include('./partials/sidebar.ejs') %>
<div class="container-fluid">
  <div class="row min-vh-100">
    <!-- Conteúdo principal (Lado Direito) -->
    <div class="col-md-12 d-flex justify-content-center align-items-start pt-5">
      <div class="card rounded-4" style="width: 100%; max-width: 450px">
        <div
          class="card-header bg-dark text-white font-weight-bold text-center"
        >
          CADASTRO BICICLETÁRIO
        </div>
        <div class="card-body">
          <form method="get" action="/bicicletario/consultarbicicletas">
            <div class="form-floating d-flex justify-content-center rounded-4">
              <input
                type="text"
                name="query"
                class="class=form-control-sm"
                placeholder="Verificar Registro...."
              />
              <button class="btn btn-dark ms-2" type="submit">Consultar</button>
            </div>
          </form>
          <form method="post" action="/bicicletario/bicicletariocadastro">
            <div class="row gx-1 mb-2 pt-4">
              <!-- Coluna para Nome e Celular -->
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="bike_nome"
                    class="form-control"
                    id="bike_nome"
                    placeholder="Digite o nome do Prestador"
                    required
                  />
                  <label for="bike_nome">Nome</label>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="telefone"
                    class="form-control"
                    id="telefone"
                    placeholder="Digite o telefone"
                    required
                    maxlength="15"
                  />
                  <label for="telefone">Celular</label>
                </div>
              </div>
            </div>

            <div class="row gx-1 mb-2">
              <!-- Coluna para Cor Bike e Loja -->
              <div class="col-md-4 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="bike_cor"
                    class="form-control"
                    id="bike_cor"
                    placeholder="Placa do veículo"
                    required
                  />
                  <label for="bike_cor">Cor - Bike</label>
                </div>
              </div>

              <div class="col-md-8 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="bike_loja"
                    class="form-control"
                    id="bike_loja"
                    placeholder="Digite o modelo do veículo"
                    required
                  />
                  <label for="bike_loja">Loja</label>
                </div>
              </div>
            </div>

            <br />
            <div class="d-grid col-3 mx-auto mt-2">
              <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>

            <% if (msg != '') { %>
            <div
              class="alert alert-success mx-auto mt-3 text-center"
              role="alert"
            >
              <%= msg %>
            </div>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/rodape.ejs') %>
