<%- include('./partials/header.ejs') %> <%- include('./partials/sidebar.ejs') %>
<div class="container">
  <div class="card position-absolute top-50 start-50 translate-middle col-3">
    <div class="card-header bg-dark text-white font-weight-bold text-center">
      CADASTRO DE USUARIO
    </div>
    <div class="card-body">
      <form
        method="post"
        action="/usuario/novousuario"
        class="d-flex flex-column align-items-center"
      >
        <div class="form-floating mb-3 w-75">
          <input
            type="text"
            name="nome"
            class="form-control"
            id="nome"
            placeholder="Digite o nome de usuario"
          />
          <label for="nome">Usuario</label>
        </div>
        <div class="form-floating mb-3 w-75">
          <input
            type="password"
            name="senha"
            class="form-control"
            id="senha"
            placeholder="Digite a senha"
          />
          <label for="senha">Senha</label>
        </div>
        <div class="mb-3 w-75">
          <label for="nivel" class="form-label">Nível de Acesso:</label>
          <select id="nivel" name="nivel" class="form-select">
            <option value="ADM">ADM</option>
            <option value="CFTV">CFTV</option>
            <option value="OPERADOR">OPERADOR</option>
          </select>
        </div>

        <div class="d-grid col-4">
          <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
        <% if (msg != '') { %>
        <div class="alert alert-danger mt-3" role="alert"><%= msg %></div>
        <% } %>
      </form>
    </div>
  </div>
</div>
<%- include('./partials/rodape.ejs') %>
