<%- include('./partials/header.ejs') %> <%- include('./partials/sidebar.ejs') %>
<div
  id="content"
  style="transition: all 0.3s ease; margin-left: 60px; padding-top: 60px"
>
  <div class="container-fluid" style="min-height: 100vh">
    <div class="row">
      <!-- Coluna de conteúdo (à direita da sidebar) -->
      <div class="col-md-9 ms-auto" style="margin-top: 60px">
        <div
          class="d-flex justify-content-center align-items-center"
          style="min-height: 100vh"
        >
          <!-- Formulário -->
          <div
            class="col-md-8 col-lg-10"
            style="position: relative; z-index: 10"
          >
            <div
              class="card"
              style="
                border-radius: 5px; /* Arredondar bordas do card */
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
                transform: translateY(
                  -20px
                ); /* Desloca o card para cima para dar o efeito de flutuação */
              "
            >
              <div
                class="card-header bg-primary text-white font-weight-bold"
                style="border-radius: 5px 5x 0 0"
              >
                CADASTRO DE ENTREGA
              </div>
              <div class="card-body">
                <form method="post" action="/entregas">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="entregas_nome"
                      class="form-control"
                      id="entregas_nome"
                      placeholder="Digite o nome da entrega"
                      required
                    />
                    <label for="entregas_nome">Nome do Entregador</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="veiculos_placa"
                      class="form-control"
                      id="veiculos_placa"
                      placeholder="Placa do veículo"
                      required
                    />
                    <label for="veiculos_placa">Placa do Veículo</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="veiculos_modelo"
                      class="form-control"
                      id="veiculos_modelo"
                      placeholder="Digite o modelo do veículo"
                      required
                    />
                    <label for="veiculos_modelo">Modelo do veículo</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="telefone"
                      class="form-control"
                      id="telefone"
                      placeholder="Digite o telefone"
                      required
                    />
                    <label for="telefone">Celular</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="doc_cpf"
                      class="form-control"
                      id="doc_cpf"
                      placeholder="CPF"
                      required
                    />
                    <label for="doc_cpf">CPF</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="doc_cnh"
                      class="form-control"
                      id="doc_cnh"
                      placeholder="CNH"
                      required
                    />
                    <label for="doc_cnh">CNH</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="doc_empresa"
                      class="form-control"
                      id="doc_empresa"
                      placeholder="Empresa"
                      required
                    />
                    <label for="empresa">Empresa</label>
                  </div>

                  <!-- Linha de botões centralizados -->
                  <div class="d-flex justify-content-center mt-4">
                    <!-- Botão Alterar (azul) -->
                    <button type="submit" class="btn btn-primary mx-2">
                      Alterar
                    </button>
                    <!-- Botão Incluir (verde) -->
                    <button type="submit" class="btn btn-success mx-2">
                      Incluir
                    </button>
                    <!-- Botão Excluir (vermelho) -->
                    <button type="" class="btn btn-danger mx-2">Excluir</button>
                  </div>

                  <% if (msg != '') { %>
                  <div class="alert alert-danger" role="alert"><%= msg %></div>
                  <% } %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/rodape.ejs') %>
