<%- include('./partials/header.ejs') %> <%- include('./partials/sidebar.ejs') %>

<div class="container">
  <div class="card position-absolute top-50 start-50 translate-middle col-10">
    <div class="card-header bg-primary text-white font-weight-bold">
      CADASTRO DE ENTREGA
    </div>
    <div class="card-body">
      <form method="post" action="/entregas">
        <div class="form-floating mb-3">
          <input
            type="text"
            name="entregas_nome"
            class="form-control"
            id="entregas_nome"
            placeholder="Digite o nome da entrega"
            required
          />
          <label for="entregas_nome">Nome do Entregador</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="veiculos_placa"
            class="form-control"
            id="veiculos_placa"
            placeholder="Placa do veículo"
            required
          />
          <label for="veiculos_placa">Placa do Veículo</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="veiculos_modelo"
            class="form-control"
            id="veiculos_modelo"
            placeholder="Digite o modelo do veículo"
            required
          />
          <label for="veiculos_modelo">Modelo do veículo</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="telefone"
            class="form-control"
            id="telefone"
            placeholder="Digite o telefone"
            required
          />
          <label for="telefone">Celular</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="doc_cpf"
            class="form-control"
            id="doc_cpf"
            placeholder="CPF"
            required
          />
          <label for="doc_cpf">CPF</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="doc_cnh"
            class="form-control"
            id="doc_cnh"
            placeholder="CNH"
            required
          />
          <label for="doc_cnh">CNH</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="doc_empresa"
            class="form-control"
            id="doc_empresa"
            placeholder="Empresa"
            required
          />
          <label for="empresa">Empresa</label>
        </div>
        <br />
        <div class="d-grid col-6 mx-auto">
          <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
        <% if (msg != '') { %>
        <div class="alert alert-danger" role="alert"><%= msg %></div>
        <% } %>
      </form>
    </div>
  </div>
</div>

<%- include('./partials/rodape.ejs') %>
