<%- include('./partials/header.ejs') %>

<div class="container-fluid vh-100 d-flex p-0">
  <!-- Coluna da imagem -->
  <div class="col-md-8 p-0">
    <div
      class="h-100"
      style="
        background-image: url('/imagens/faixada_buriti2.jpeg');
        background-size: cover;
        background-position: center;
      "
    ></div>
  </div>

  <!-- Coluna do formulário -->
  <div
    class="col-md-4 d-flex justify-content-center align-items-center bg-light p-4 flex-column"
  >
    <!-- Logo acima do card (fora do card) -->
    <div class="text-center mb-5">
      <img
        src="/imagens/Logo_Buriti_Mogi.png"
        alt="Logo2"
        class="img-fluid"
        style="max-width: 150px"
      />
    </div>

    <!-- Card de Login -->
    <div class="card shadow" style="width: 100%; max-width: 300px">
      <div
        class="card-header bg-success text-white font-weight-bold text-center"
      >
        Login
      </div>
      <div class="card-body">
        <div class="text-center mb-2">
          <img
            src="/imagens/fontbolt.png"
            alt="Logo2"
            class="img-fluid"
            style="max-width: 200px"
          />
        </div>
        <form method="post" action="/usuario/login">
          <!-- Campo de nome de usuário -->
          <div class="form-floating mb-2">
            <input
              type="text"
              name="nome"
              class="form-control"
              id="nome"
              placeholder="Digite o nome de usuário"
            />
            <label for="nome">Usuário</label>
          </div>

          <!-- Campo de senha -->
          <div class="form-floating mb-2">
            <input
              type="password"
              name="senha"
              class="form-control"
              id="senha"
              placeholder="Digite a senha"
            />
            <label for="senha">Senha</label>
          </div>

          <!-- Botão de login -->
          <div class="d-grid col-4 mx-auto">
            <button type="submit" class="btn btn-success">Login</button>
          </div>

          <!-- Exibição de mensagem de erro -->
          <% if (msg != '') { %>
          <div class="mt-3 alert alert-danger text-center"><%= msg %></div>
          <% } %>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/rodape.ejs') %>
