/* Sidebar retrátil: começa com largura de 60px */
#sidebar {
  width: 60px;
  overflow-x: hidden;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 998;
}

#sidebar a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
}

#sidebar a:hover {
  background-color: #575757;
}

#sidebar.open {
  width: 250px;
}

#content {
  transition: margin-left 0.3s ease;
  padding-top: 60px;
  padding-left: 20px;
}
