<nav class="sidebar navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/AccessControl/">AccessControl</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/patio" class="nav-link">Pátio</a>
    </li>
    <li class="nav-item">
      <a href="/entregas" class="nav-link">Entregas</a>
    </li>
    <li class="nav-item">
      <a href="/servicos" class="nav-link">Serviço</a>
    </li>
    <li class="nav-item">
      <a href="/chaves" class="nav-link">Chaves</a>
    </li>
    <li class="nav-item">
      <a href="/bicicletario" class="nav-link">Bicicletário</a>
    </li>
    <li class="nav-item">
      <a href="/relatorio" class="nav-link">Relatório</a>
    </li>
    <li class="nav-item">
      <a href="/configuracoes" class="nav-link">Configurações</a>
    </li>
    <li class="nav-item">
      <a href="/sair" class="nav-link">Sair</a>
    </li>
  </ul>
</nav>
